<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a10414620c.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <header>
        <div class="home__header">
            <div class="home__header-box-nav1">
                <div class="home__header-container">
                    <img class="home__header--logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                    <div class="home__header-box-input-lupa">
                        <input type="search" id="q" placeholder="Buscar productos, marcas">
                        <a href="" class="header__div--Lupa-busqueda"><i class="fas fa-search"></i></a>
                    </div>
                </div>

                <div class="header__parrafo--contenedor">
                    <a href="" class="home__header--dolar"><i class="fas fa-hand-holding-usd"></i></a>
                    <p class="header__parrafo">Compra en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav class="home__header--nav--menu">
                <div class="home__header--descripcion">
                    <ul>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/">Tiendas Oficiales</a></li>
                        <li><a href="/">Vender</a></li>
                        <li><a href="/">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="/registro">Creá tu cuenta </a><i class="fa-sharp fa-regular fa-address-card"></i>
                        </li>
                        <li><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </div>
                <div class="font-awesome">
                    <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg"></i></a>
                </div>
        </div>
        </nav>
        <img class="home__header-baner" src="/images/img-home-banner.jpg" alt="img-home-banner">
    </header>

    <main class="login__main">

        <div class="login-box">
            <form action="/">

                <p class="login-correo-box">

                    <input type="email" name="email" placeholder="Nombre de Usuario" required>
                </p>
                <p class="login-contraseña-box">

                    <input type="password" name="password" placeholder="Contraseña" required>

                <p class="login-registra-entrar">

                    <button type="submit" class="login-button">Enviar</button>
                </p>


            </form>
            </div>
    </main>

    <footer>
        <div>
            <article>
                <div class="home__footer--article--div-tarjeta">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="home__footer--article--div-tarjeta">
                    <i class="fa-sharp fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="home__footer--article--div-tarjeta">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegido.</p>
                </div>
                <p class="home__footer--article-copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </div>
    </footer>

</body>

</html>