@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Raleway:wght@400;700&family=Work+Sans:wght@200;400;700&display=swap');
:root {
    /* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
●Íconos*/
   --colorAmarillo: #EAC926;
   --colorAzul: #03264C;
   --colorCeleste: #1259c3;
   --colorGrisOscuro: #666;
   --colorGrisClaro: #ebebeb;
   --colorVerde:  #ebebeb;
   --tipografiaGeneral: 'Open Sans' , 'sans-serif';
}
body {
    background-color: var(--colorGrisClaro);
}
*{
    box-sizing: border-box;    
    margin: 0;
    
}
a {
    text-decoration: none;
    font-size: 12px;
    color: black;    
    
}
li {
    list-style: none;
        
}
ul {
    padding: 0;
}


/*HEADER*/
header {
    background-color: var(--colorAmarillo);
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.home__header--logo {
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    


}
.home__header-container{
    display: flex;
    align-items: center;
}

.header__input--contenedor {
    margin-left: 15px;
}

.home__header-box-input-lupa {
   position: relative; 
   width: 50%;
   margin-right: 30px;
             
}

.home__header-box-input-lupa input {
    border: 1px solid white;
    margin-bottom: 3px;
    width: 100%;
    padding-top: 3px;
    height: 40px;
    border-radius: 3px;
    font-family: var(--tipografiaGeneral);
    
    
}

.home__header-box-input-lupa a {  
    position: absolute;
    right: 0;
    top: 0;

}

.header__div--Lupa-busqueda {

    background-color:white;
    padding: 9px; 
    border-radius: 3px;
    font-size: 15px;   
    color: var(--colorGrisClaro);
}

.header__parrafo--contenedor {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: center;
    
    
}

.header__parrafo {
    padding-left: 10%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    font-size: 12px;
    margin-bottom: 15px;
}

.home__header--descripcion {
    display: none;
}

.home__header--nav--menu ul {
    margin-bottom: 20px;

}

.home__header--dolar {

    display: flex;
    margin-top:2px;
    
    
    



}


.font-awesome {
    text-align: center;
    font-size: large;
}

.home__header--bars {
    background-color: var(--colorCeleste);
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 25px;

    font-size: x-large;

}

.home__header-baner {
    display: none;
    
}



/*MAIN*/

.login__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    
}
.login-box {
    width: 70%;
    border: 1px solid var(--colorGrisOscuro);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px;
}
.login-correo-box input {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.login-contraseña-box input {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.login-registra-entrar button {
    width: 100%;   
    border: none;
    padding: 10px;
    border-radius: 5px; 
    background-color: var(--colorCeleste);
    color: white;
}


/*FOOTER*/
footer {
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: var(--colorGrisOscuro);
    font-family: var(--tipografiaGeneral);
}
Footer i {
    color: var(--colorCeleste);
    font-size: 30px;
    margin-bottom: 15px;
}
.home__footer--article--div-tarjeta {
    margin: 25px;
}

.home__footer--article-copyright {
    text-align: left;
    margin-left: 20px;
    padding-bottom: 22px;
}


/*MEDIA QUERY*/
@media (min-width:481px) {
    
    
    /*HEADER*/


    .home__header-container {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
        width: 70%;
        gap: 2%;
    }
    .home__header--logo {
        margin-top: 0px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .header__parrafo {
        margin: 0;
    }
    
    .home__header-box-input-lupa {
        margin: 0;
    }
    

    .home__header-container .home__header-box-input-lupa  {
        width: 400px;
        
    }
    
    
    .home__header-box-nav1 {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 20px;
        margin-left: 15px;
        gap: 5px;
    }
    
    .header__parrafo--contenedor {
        width: 300px;
        margin-right: 15px;
        margin-left: 0px;
        
    }

    .home__header-box-nav1 {
        display: flex;
        
    }

    .font-awesome {
        display: none;
    }
    .home__header--nav--menu {
        margin-left: 5px;
    }
    .home__header--nav--menu .home__header--descripcion {
        display: flex;                
        justify-content: space-between;
       
    }
    .home__header--nav--menu .home__header--descripcion ul  {
        display: flex;
        gap: 10px;
                     
    }
}
    @media (min-width:769px){
    
        .home__header--logo {
            width: 47%;
        }
        .home__header-container .home__header-box-input-lupa {
            width: 600px;
        }
        .home__header--dolar {
            width: 1.5%;
            justify-content: center;
        }
        
        .header__input--contenedor {
            width: auto;
            
        }
        .header__parrafo--contenedor {
            width: 300px;
            
            margin-right: 15px;
            margin-left: 0px;
            
        }
        .header__parrafo--contenedor {
            gap: 5px;
        }
        /*MAIN*/
        .login-box {
            width: 35%;
        }
    }